.landing{position:relative; width:100%; margin:0 auto; line-height:1.2; overflow:hidden;}
.landing .inner-col{position:relative; width:1200px; max-width:100%; height:100%; min-width:375px; margin:0 auto; box-sizing:border-box;}
.landing .inner-col:after{content:''; display:block; clear:both;}
.landing .display-m{display:none}
.landing .display-w{display:block;}
.landing .display-iblock{display:inline-block;}
.landing .text-red{color:#fd441b;}

.main-visual-col{position:relative; height:1080px; color:#fff;}
.main-visual-col:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#000; z-index:-2;}
.main-visual-col .background-media-box{position:absolute; top:0; left:calc(50% - 960px); background:#000 url(image/bg_university_main.jpg) no-repeat 50% 0; z-index:-1;}
.main-visual-col .uni-logo{position:absolute; top:0; right:0;}
.main-visual-col h3{padding:383px 0 40px;}
.main-visual-col p{font-size:18px; line-height:1.7;}
.main-visual-col p strong{display:inline-block; font-weight:400;}
.main-visual-col p .display-w{display:inline-block;}

.university-col{height:1064px; color:#fff; background:#161819 url(image/bg_university.jpg) no-repeat center;}
.university-col h3{position:relative; height:550px;}
.university-col h3 strong{position:absolute; left:0; width:100%; text-indent:-9999px; transition:.2s;}
.university-col h3 .yanadoo{top:250px; height:116px; background:url(image/img_txt_yanadoo.png) no-repeat 50% 0;}
.university-col h3 .uni{top:400px; height:116px; background:url(image/img_txt_university.png) no-repeat 50% 0;}
.university-col p{padding:20px 0 0 58%; font-weight:400; font-size:18px; line-height:1.8; text-align:left; box-sizing:border-box;}
.university-col p .display-w{display:inline;}
.university-col.active h3 .yanadoo{animation:motionYUTitleRight 1s forwards;}
.university-col.active h3 .uni{animation:motionYUTitleLeft 1s forwards;}
@keyframes motionYUTitleRight {
    0%{left:0;}
    100%{left:300px;}
}
@keyframes motionYUTitleLeft {
    0%{left:0;}
    100%{left:-220px;}
}

.forever-col{position:relative; height:1000px; background-color:#2f3438;}
.forever-col:after{content:''; position:absolute; top:180px; left:50%; width:620px; height:690px; background:url(image/img_card_forever.png) no-repeat 0 0; opacity:0;}
.forever-col h3{padding-top:310px; font-weight:700; font-size:70px; line-height:1.3; letter-spacing:-2px; color:#fff; opacity:0;}
.forever-col h3 strong{display:block; font-weight:700;}
.forever-col h3 strong:after{content:'원'; font-weight:700; font-size:63px;}
.forever-col p{margin-top:30px; font-size:18px; line-height:1.8; letter-spacing:-1px; color:#eff0f0; opacity:0;}
.forever-col p strong{display:inline; font-weight:400;}
.forever-col.active h3{animation:motionLeft 1s forwards;}
.forever-col.active p{animation:motionLeft 1s .2s forwards;}
.forever-col.active:after{animation:foreverRight 1s forwards;}
@keyframes motionLeft {
    0%{transform:translateX(-50px); opacity:0;}
    100%{transform:translateX(0px); opacity:1;}
}
@keyframes foreverRight {
    0%{top:180px; opacity:0;}
    100%{top:150px; opacity:1;}
}

.enter-col{padding:200px 0;}
.enter-col ul:after{content:''; display:block; clear:both;}
.enter-col li{float:left; width:50%; padding:0 30px 0 50px; box-sizing:border-box;}
.enter-col li:nth-of-type(2){margin-top:403px;}
.enter-col li:nth-of-type(4){margin-top:162px;}
.enter-col li:nth-of-type(odd){margin-top:-180px;}
.enter-col li:first-of-type{margin-top:0;}
.enter-col li strong{display:block; margin-top:47px; font-size:23px; letter-spacing:-1px;}
.enter-col li p{margin-top:20px; font-size:20px; line-height:1.5; color:#4d4d4d; letter-spacing:-1px;}
.enter-col .btn-enter{margin-top:35px; padding:14px 20px 12px; font-size:18px; color:#fff; background:#ff4221; border-radius:30px;}
.enter-col li img{opacity:0;}
.enter-col li .text-box{opacity:0;}
.enter-col li.active img{animation:motionUp 1s forwards;}
.enter-col li.active .text-box{animation:enterTextBox 1s .3s forwards;}
@keyframes motionUp {
    0%{transform:translateY(50px); opacity:0;}
    100%{transform:translateY(0px); opacity:1;}
}
@keyframes enterTextBox {
    0%{transform:translateX(-50px); opacity:0;}
    100%{transform:translateX(0px); opacity:1;}
}

.special-col{padding:180px 0; background-color:#1c1d1e; color:#fff;}
.special-col h3{font-size:62px; line-height:1.4; opacity:0;}
.special-col ul{padding-top:120px;}
.special-col li{display:inline-block; vertical-align:top; width:31%; margin-left:20px; opacity:0;}
.special-col li:first-of-type{margin:0;}
.special-col li strong{display:block; margin-top:18px; font-size:24px; line-height:1.3; letter-spacing:-1px;}
.special-col li p{margin:14px 0 50px; font-size:17px; line-height:1.6; color:#8b8b8b; letter-spacing:-1px;}
.special-col h3.active{animation:motionLeft 1s forwards;}
.special-col .active li:first-child{animation:motionUp 1s forwards;}
.special-col .active li:nth-child(2){animation:motionUp 1s .2s forwards;}
.special-col .active li:nth-child(3){animation:motionUp 1s .4s forwards;}

.story-col{padding:180px 0 245px; overflow:hidden;}
.story-col .story-tit h3{position:relative; display:inline-block; font-size:60px; line-height:1.4; letter-spacing:-2px;}
.story-col .story-tit h3 span:after{content:'개';}
.story-col .story-tit p{margin-top:20px; font-weight:400; font-size:18px;}
.story-col .mobile-thum{display:none;}
.story-col .story-slide{position:relative; width:1000px; margin-top:113px;}
.story-col .review-txt{display:block; margin-top:70px;}
.story-col .story-box{height:480px; padding:0 50px; border-radius:20px; box-sizing:border-box; transition:.2s;}
.story-col .story-box strong{display:block; margin:70px 0 25px; font-size:20px; letter-spacing:-1px;}
.story-col .story-box p{font-size:16px; line-height:2; color:#4d4d4d; letter-spacing:-1px;}
.story-col .swiper-button-next,
.story-col .swiper-button-prev{width:11.6em; height:6.6em; top:-22.9em; left:auto; right:4.6em; text-indent:-9999px; transition:all .2s; z-index:1;}
.story-col .story-box:hover{background:#1b1c1e; color:#fff;}
.story-col .story-box:hover p{color:#a1a1a1;}
.story-col .swiper-button-next{z-index:2;}
.story-col .swiper-button-prev, .swiper-container-rtl .swiper-button-next{background-image:none;}
.story-col .swiper-button-prev:before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(image/ico_story_prev.png) no-repeat center; text-indent:-9999px; z-index:-1;}
.story-col .swiper-button-next:before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(image/ico_story_next.png) no-repeat center; text-indent:-9999px; z-index:2;}
.story-col .swiper-button-next:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#fff;}
.story-col .swiper-button-next.swiper-button-disabled,
.story-col .swiper-button-prev.swiper-button-disabled{display:none; z-index:1;}

.best-col{padding-top:220px; overflow:hidden;}
.best-col h3{position:relative; display:inline-block; font-weight:700; font-size:60px; line-height:1.3; letter-spacing:-1px;}
.best-col h3:after{content:''; position:absolute; top:-41px; right:-67px; width:240px; height:180px; background: url(image/img_txt_best.png) no-repeat 0 0 / 100% auto; z-index:-1;}
.best-col h3 span{display:block; margin-bottom:30px; font-weight:400; font-size:18px; line-height:1; letter-spacing:0;}
.best-col .best-list{position:relative; height:760px; margin-top:-20px;}
.best-col ul{position:absolute; white-space:nowrap; transition:.2s;}
.best-col li{display:inline-block; margin-right:20px; vertical-align:middle;}
.best-col .card-box{position:relative;}
.best-col .card-box + .card-box{margin-top:20px;}
.best-col .best-list li:nth-of-type(1) .card-box,
.best-col .best-list li:nth-of-type(6) .card-box,
.best-col .best-list li:nth-of-type(9) .card-box,
.best-col .best-list li:nth-of-type(14) .card-box{top:-46px;}
.best-col .best-list li:nth-of-type(4) .card-box,
.best-col .best-list li:nth-of-type(7) .card-box,
.best-col .best-list li:nth-of-type(12) .card-box,
.best-col .best-list li:nth-of-type(17) .card-box{top:18px;}
.best-col .best-list li:nth-of-type(2) .card-box,
.best-col .best-list li:nth-of-type(10) .card-box,
.best-col .best-list li:nth-of-type(15) .card-box{top:82px;}
.best-col .best-list li:nth-of-type(5) .card-box,
.best-col .best-list li:nth-of-type(8) .card-box,
.best-col .best-list li:nth-of-type(13) .card-box{top:146px;}
.best-col .card{width:220px; height:330px; -webkit-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -webkit-perspective:0; -webkit-transition:1s; backface-visibility:hidden; visibility:visible; transition:all 1s; overflow:hidden;}
.best-col .front{position:absolute; transform:rotateY(0deg); border-radius:15px; overflow:hidden;}
.best-col .card.front img{margin-top:2px;}
.best-col .card-box.red .front{background:url(image/bg_teacher_red.png) no-repeat center; background-size:100%;}
.best-col .card-box.blue .front{background:url(image/bg_teacher_blue.png) no-repeat center; background-size:100%;}
.best-col .card-box.black .front{background:url(image/bg_teacher_black.png) no-repeat center; background-size:100%;}
.best-col .front span{position:absolute; left:-83px; bottom:117px; width:100%; font-weight:400; font-size:14px; color:#fff; transform:rotate(-90deg); opacity:.5; z-index:-1;}
.best-col .back{text-align:center; transform:rotateY(-180deg); border-radius:15px; box-shadow:0 0 10px 1px rgba(0,0,0,0.15);}
.best-col .back .profile{position:relative; display:inline-block; width:170px; height:182px; overflow:hidden;}
.best-col .back .profile:after{content:''; position:absolute; bottom:-50px; left:-50px; width:100%; height:100%; background-color:transparent; border:50px solid #fff; border-bottom-right-radius:150px; border-bottom-left-radius:150px;}
.best-col .back .profile img{position:absolute; top:-5%; left:-33%; max-width:210px;}
.best-col .card-box.red .back .profile{background-color:#ff4221;}
.best-col .card-box.blue .back .profile{background-color:#5890fe;}
.best-col .card-box.black .back .profile{background-color:#1b1c1e;}
.best-col .back h4{margin:15px 0 10px; font-weight:400; font-size:16px; letter-spacing:-1px;}
.best-col .back h4 + span{display:block; margin-bottom:25px; font-size:11px; letter-spacing:-1px; opacity:.5;}
.best-col .card-box:hover .front{transform:rotateY(180deg);}
.best-col .card-box:hover .back{transform:rotateY(0deg);}
.best-col.fixed-mode h3{position:absolute; top:140px; left:calc(50% - 570px); z-index:2;}
.best-col.fixed-mode .scroll-box{position:fixed; top:0; left:0; width:100%; height:100vh; background-color:#fff;}
.best-col.fixed-mode .scroll-box .best-list{position:absolute; top:320px; left:calc(50% - 560px); margin-top:0;}
.best-col.absolute-mode .scroll-box{position:absolute; top:auto; bottom:0; width:100%; height:calc(100vh - 60px);}
.best-col.absolute-mode .scroll-box .best-list{margin-top:-40px; z-index:-1;}

.second-col{width:100%; height:970px; background:#69363a url(image/bg_second_life.jpg) no-repeat center; overflow:hidden;}
.second-col .text-box{position:absolute; top:50%; left:50%; width:100%; text-align:center; transform:translate(-50%,-50%);}
.second-col .text-box h3{margin-bottom:1.75em; font-weight:400; font-size:2.4em; line-height:1.6em; color:#fff; letter-spacing:-1px;}
.second-col .text-box h3 strong{font-weight:400;}
.second-col .btn-uni{display:inline-block; width:440px; height:85px; background:#fff url(image/btn_university_before.png) no-repeat 50% 50%; border:1px solid rgba(255,255,255,.5); text-indent:-9999px; border-radius:100px;}
.second-col.active .btn-uni{animation:yuBtnMotion 1s 1.5s forwards;}

@keyframes yuBtnMotion {
    0%{width:440px; background-color:#fff; background-image:url(image/btn_university_before.png);}
    50%{width:1px; background-color:#fff; background-image:url(image/btn_university_before.png);}
    100%{width:440px; background-color:#1a1b1e; background-image:url(image/btn_university_after.png);}
}
.yu-notice-col{padding:100px 0; background-color:#2b2b2b;}
.yu-notice-col h3{border-bottom:1px solid #fff;}
.yu-notice-col h3 strong{display:block; position:relative; padding:20px 20px 20px 50px; font-weight:700; font-size:24px; color:#fff; text-align:left; box-sizing:border-box;}
.yu-notice-col h3 strong:before{content:'!'; position:absolute; top:22px; left:19px; font-weight:700; font-size:20px; color:#fff;}
.yu-notice-col h3 strong:after{content:''; position:absolute; top:18px; left:8px; width:26px; height:26px; border:1px solid #fff; border-radius:100%;}
.yu-notice-col ol{padding:50px 0 0 20px;}
.yu-notice-col ol > li{padding-top:30px;}
.yu-notice-col ol > li:first-child{padding-top:0;}
.yu-notice-col ol ul{padding-top:10px;}
.yu-notice-col ol li > strong{font-size:18px;}
.yu-notice-col li{position:relative; padding:3px 0; font-weight:400; font-size:16px; line-height:1.4; color:#ababab;}
.yu-notice-col li a{text-decoration:underline; color:#0c56c6;}
.yu-notice-col ol ul li{padding:3px 0 3px 15px;}
.yu-notice-col ol ul li:before{content:'-'; position:absolute; top:3px; left:5px;}
.yu-notice-col ol ul li.depth-2{padding:3px 0 3px 30px;}
.yu-notice-col ol ul li.depth-2:before{content:'ㄴ'; top:2px; left:15px;}
.yu-notice-col ol ul li.info-text{padding:3px 0 3px 22px;}
.yu-notice-col ol ul li.info-text:before{content:'※'; top:3px; left:5px;}

.btn-go-university{position:fixed; bottom:30px; left:50%; display:inline-block; width:351px; height:69px; margin-left:-175px; background:url(image/btn_university.png) no-repeat 50% 0; text-indent:-9999px; transition:.3s; opacity:1; z-index:10;}
.btn-go-university.item-hidden{bottom:-30%; opacity:0;}

@media (max-width:1024px) {
    .landing{max-width:750px; font-size:21px;}
    .landing .display-m {display:block}
    .landing .display-w {display:none;}
    .landing .display-iblock {display:none;}

    .main-visual-col{height:53.5em; padding:0; box-sizing:border-box; overflow:hidden;}
    .main-visual-col .background-media-box{position:absolute; top:0; left:0; width:100%; background:#000 url(image/bg_university_main_m.jpg) no-repeat 50% 0; z-index:-1;}
    .main-visual-col .background-media-box video{width:100%;}
    .main-visual-col .uni-logo{height:8.4em; left:7%;}
    .main-visual-col h3{padding:29em 7% 2em;}
    .main-visual-col p strong{display:block;}
    .main-visual-col h3 img{height:7em;}
    .main-visual-col p{padding:0 7%; font-size:1.4em; line-height:1.5;}
    .main-visual-col .text-box{position:absolute; bottom:8.5em;}
    .main-visual-col p .display-w{display:none;}
    .main-visual-col p .display-m{display:inline-block;}

    .university-col{height:71.5em; background:#161819 url(image/bg_university_m.jpg) no-repeat 50% 0; background-size:100%; overflow:hidden;}
    .university-col h3{position:relative; height:30em;}
    .university-col h3 strong{position:absolute; left:0; width:100%; margin-left:2.2em; text-indent:-9999px; transition:.1s;}
    .university-col h3 .yanadoo{top:11em; left:120%; height:6em; background:url(image/img_txt_yanadoo_m.png) no-repeat 0 0 / 26em auto;}
    .university-col h3 .uni{top:17.5em; left:-120%; height:6em; background:url(image/img_txt_university_m.png) no-repeat 0 0 / 34.5em auto;}
    .university-col p{padding:18em 0 0 3.5em; font-weight:400; font-size:1.3em; line-height:1.8; color:#969696; text-align:left; box-sizing:border-box;}
    .university-col p .display-w{display:none;}
    .university-col.active .display-m .yanadoo{animation:motionYUTitleRight 1s forwards; opacity:0;}
    .university-col.active .display-m .uni{animation:motionYUTitleLeft 1s forwards; opacity:0;}
    @keyframes motionYUTitleRight {
        0%{left:-120%; opacity:0;}
        100%{left:0; opacity:1;}
    }
    @keyframes motionYUTitleLeft {
        0%{left:120%; opacity:0;}
        100%{left:0; opacity:1;}
    }

    .forever-col{height:60em; padding:8.6em 2.5em 5em; background-color:#25282a; overflow:hidden;}
    .forever-col h3{padding-top:0; font-size:3.6em; letter-spacing:-.05em; opacity:0;}
    .forever-col h3 strong:after{font-size:90%;}
    .forever-col:after{content:''; position:absolute; top:33em; left:25%; width:30em; height:37em; background-size:100%;}
    .forever-col .text-box p{margin-top:2.1em; font-size:1.3em;}
    .forever-col p{margin-top:1.5em; font-size:1.3em;}
    .forever-col p strong{display:block; font-weight:400; text-align:left;}
    .forever-col.active:after{animation:foreverRight 1s .5s forwards;}
    @keyframes motionLeft {
        0%{transform:translateX(-2em); opacity:0;}
        100%{transform:translateX(0em); opacity:1;}
    }
    @keyframes foreverRight {
        0%{transform:translateX(2em); opacity:0;}
        100%{transform:translateX(0em); opacity:1;}
    }

    .enter-col{padding:4em 0 11em;}
    .enter-col ul:after{content:''; display:block; clear:both;}
    .enter-col li{float:none; width:100%; padding:12em 0 0 0; box-sizing:border-box; text-align:left;}
    .enter-col li > img{max-width:88%;}
    .enter-col li > .display-m{display:inline-block;}
    .enter-col li .text-box{padding:0 0 0 2em;}
    .enter-col li strong{display:block; margin-top:1.6em; font-size:1.4em; letter-spacing:-1px;}
    .enter-col li p{margin-top:.5em; font-size:1.2em; line-height:1.5; color:#4d4d4d; letter-spacing:-1px;}
    .enter-col li:first-of-type,.enter-col li:nth-of-type(2),.enter-col li:nth-of-type(4),.enter-col li:nth-of-type(odd){margin-top:auto;}
    .enter-col .btn-enter{margin-top:1.8em; padding:1em 1.5em .8em; font-size:1.4em; color:#fff; background:#ff4221; border-radius:3em;}
    .enter-col li:nth-child(even){text-align:right;}
    .enter-col li:nth-child(even) .text-box{padding:0 2em 0 0;}
    @keyframes motionUp {
        0%{transform:translateY(2em); opacity:0;}
        100%{transform:translateY(0em); opacity:1;}
    }
    @keyframes enterTextBox {
        0%{transform:translateX(-2em); opacity:0;}
        100%{transform:translateX(0em); opacity:1;}
    }

    .special-col{padding:12em 0 0 0;}
    .special-col h3{padding-left:7%; font-size:4em; line-height:1.4;}
    .special-col ul{padding-top:5em;}
    .special-col li{display:inline-block; vertical-align:top; width:100%; margin-top:8.6em; margin-left:0; box-sizing:border-box; opacity:0;}
    .special-col li > img{display:block; width:100%;}
    .special-col li span, .special-col li strong , .special-col li p{padding-left:7%;}
    .special-col li:first-of-type{margin:0;}
    .special-col li .special-num img{width:2.4em;}
    .special-col li strong{display:block; margin-top:.8em; font-size:190%; line-height:1.4; letter-spacing:-1px;}
    .special-col li p{margin:.8em 0 2.4em; font-size:145%; line-height:1.4; color:#8b8b8b; letter-spacing:-1px;}
    .special-col h3.active{animation:motionLeft 1s forwards;}
    .special-col li.active{animation:motionUp 1s forwards;}

    .best-col{padding:12.1em 2.5em 0;}
    .best-col h3{font-weight:700; font-size:3.7em; line-height:1.3; letter-spacing:-1px;}
    .best-col h3:after{top:-.5em; right:-1.2em; width:4em; height:3em; background:url(image/img_txt_best.png) no-repeat 0 0 / 100% auto;}
    .best-col h3 span{margin-bottom:1.5em; font-weight:400; font-size:40%; line-height:1; letter-spacing:0;}
    .best-col .best-list{position:relative; height:44em; margin-top:0;}
    .best-col ul{position:absolute; white-space:nowrap; transition:.2s;}
    .best-col li{display:inline-block; margin-right:1em; vertical-align:middle;}
    .best-col .card-box + .card-box{margin-top:1em;}
    .best-col .best-list li:nth-of-type(1) .card-box,
    .best-col .best-list li:nth-of-type(6) .card-box,
    .best-col .best-list li:nth-of-type(9) .card-box,
    .best-col .best-list li:nth-of-type(14) .card-box{top:-1.3em;}
    .best-col .best-list li:nth-of-type(4) .card-box,
    .best-col .best-list li:nth-of-type(7) .card-box,
    .best-col .best-list li:nth-of-type(12) .card-box,
    .best-col .best-list li:nth-of-type(17) .card-box{top:1em;}
    .best-col .best-list li:nth-of-type(2) .card-box,
    .best-col .best-list li:nth-of-type(10) .card-box,
    .best-col .best-list li:nth-of-type(15) .card-box{top:5em;}
    .best-col .best-list li:nth-of-type(5) .card-box,
    .best-col .best-list li:nth-of-type(8) .card-box,
    .best-col .best-list li:nth-of-type(13) .card-box{top:8em;}
    .best-col .card{width:12em; height:17em; -webkit-backface-visibility:hidden; -webkit-transform:translate3d(0, 0, 0); -webkit-perspective:0; -webkit-transition:1s; backface-visibility:hidden; visibility:visible; transition:all 1s; overflow:hidden;}
    .best-col .front{position:absolute; transform:rotateY(0deg); border-radius:.5em; overflow:hidden;}
    .best-col .card-box.red .front{background:url(image/bg_teacher_red.png) no-repeat center; background-size:100%;}
    .best-col .card-box.blue .front{background:url(image/bg_teacher_blue.png) no-repeat center; background-size:100%;}
    .best-col .card-box.black .front{background:url(image/bg_teacher_black.png) no-repeat center; background-size:100%;}
    .best-col .front span{position:absolute; left:-5.7em; bottom:8em; width:100%; font-size:80%; color:#fff; transform:rotate(-90deg); opacity:.7;}
    .best-col .front{position:relative;}
    .best-col .front img{width:100%;}
    .best-col .best-list .back{display:none;}
    .best-col .card-box:hover .front{transform:none; transition:none;}
    .best-col.fixed-mode h3{position:absolute; top:2em; left:7%; z-index:2;}
    .best-col.fixed-mode .scroll-box{position:fixed; top:0; left:0; width:100%; height:100vh; background-color:#fff;}
    .best-col.fixed-mode .scroll-box .best-list{position:absolute; top:20.5em; left:7%; margin-top:0;}
    .best-col.absolute-mode .scroll-box{position:absolute; top:auto; bottom:0; height:calc(100vh - 1.5em); min-height:55em;}
    .best-col.absolute-mode .scroll-box .best-list{margin-top:0; z-index:-1;}

    .story-col{padding:14em 0;}
    .story-col .story-tit h3{position:relative; display:inline-block; padding-left:7%; font-size:3.8em; line-height:1.3; letter-spacing:-1px;}
    .story-col .story-tit p{margin-top:1em; padding-left:7%; font-size:140%;}
    .story-col .story-slide{width:100%; margin-top:0;}
    .story-col .swiper-button-next,
    .story-col .swiper-button-prev{display:none;}
    .story-col .story-box{width:100%; height:auto; padding:0 7%; max-width:none; max-height:none;}
    .story-col .review-txt{height:1em; margin-top:0;}
    .story-col .story-thum{height:auto;}
    .story-col .story-box strong{display:block; margin:1em 0 1.2em; font-size:160%; letter-spacing:-0.05em;}
    .story-col .story-box p{font-size:120%; line-height:2; color:#4d4d4d; letter-spacing:-0.07em;}
    .story-col .swiper-button-next,
    .story-col .swiper-button-prev{width:11.6em; height:6.6em; top:-22.9em; left:auto; right:4.6em; text-indent:-9999px; transition:all .2s;}
    .story-col .story-box:hover{color:#000; background-color:#fff;}
    .story-col .story-box:hover p{color:#4d4d4d;}
    .story-col .swiper-button-prev{background:url(image/ico_story_prev.png) no-repeat center;}
    .story-col .swiper-button-next{background:url(image/ico_story_next.png) no-repeat center;}
    .story-col .swiper-button-next.swiper-button-disabled,
    .story-col .swiper-button-prev.swiper-button-disabled{opacity:0; z-index:-1;}
    .story-col .thum-box{display:none;}
    .story-col .mobile-thum{display:block; margin:5em 7%;}

    .second-col{height:67em; background:url(image/bg_second_life_m.jpg) no-repeat center; background-size:100%;}
    .second-col .text-box{width:100%;}
    .second-col .text-box h3{width:100%; font-size:1.6em;}
    .second-col .text-box h3 strong{display:block;}
    .second-col .btn-uni{display:inline-block; width:28em; height:5.5em; background:#fff url(image/btn_university_before.png) no-repeat 50% 50% / auto 95%; text-indent:-9999px;}
    @keyframes yuBtnMotion {
        0%{width:28em; background-color:#fff; background-image:url(image/btn_university_before.png);}
        50%{width:.1em; background-color:#fff; background-image:url(image/btn_university_before.png);}
        100%{width:28em; background-color:#1a1b1e; background-image:url(image/btn_university_after.png);}
    }

    .yu-notice-col{padding:4em 0;}
    .yu-notice-col h3{width:90%; margin:auto;}
    .yu-notice-col h3 strong{padding:1em 1em 1em 2em; font-size:140%;}
    .yu-notice-col h3 strong:before{top:1.1em; left:.7em; font-size:100%;}
    .yu-notice-col h3 strong:after{top:.9em; left:.2em; width:1.2em; height:1.2em;}
    .yu-notice-col ol{padding:2em 2em 0 2em;}
    .yu-notice-col ol > li{padding-top:1.7em;}
    .yu-notice-col ol ul{padding-top:.5em;}
    .yu-notice-col ol li > strong{font-size:120%;}
    .yu-notice-col li{padding:.2em 0; font-size:100%;}
    .yu-notice-col ol ul li{padding:.2em 0 .3em 1em;}
    .yu-notice-col ol ul li:before{top:.2em; left:.3em;}
    .yu-notice-col ol ul li.depth-2{padding:.2em 0 .2em 2.1em;}
    .yu-notice-col ol ul li.depth-2:before{top:.1em; left:1.2em;}
    .yu-notice-col ol ul li.info-text{padding:.2em 0 .2em 1.2em;}
    .yu-notice-col ol ul li.info-text:before{top:.2em; left:.2em;}
    .btn-go-university{bottom:1.5em; width:24em; height:5.5em; margin-left:-12em; background:url(image/btn_university_m.png)no-repeat center; background-size:100%;}
}
@media (max-width:750px) {
    .landing{font-size:2.8vw;}
}