html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0; padding:0; font-family:sans-serif; font-size:100%; font-style:normal; border:0;}
html{font-size:5px;}
li{list-style:none;}
button{margin:0; padding:0; outline:0; border:0;}

.yanadoo-col{position:relative; width:100%; height:100%; background-color:#111; overflow:hidden;}
.yanadoo-col:before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#fff; z-index:2;}
.yanadoo-col.motion-start:before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(image/bg_main_star_m.png) repeat 0 0 / 100% auto; animation:motion-star 40s linear infinite; opacity:.5;}
.yanadoo-col.motion-start:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(image/bg_main_star_l.png) repeat 0 0 / 100% auto; animation:motion-star 20s linear infinite; opacity:.5;}
.yanadoo-col h1{position:absolute; top:3rem; left:calc(25% - 13rem); width:26rem; height:26rem; background:url(image/img_ynd_calligraphy_w.png) no-repeat 50% 50%; background-size:100% auto; text-indent:-9999rem; transform:rotate(-10deg); opacity:.3;}
@keyframes motion-star {
  0%{background-position-x:0;}
  100%{background-position-x:100vw;}
}

.random-drop-star{position:absolute; top:-999rem; left:-999rem; width:10rem; height:8rem; background:url(image/img_drop_star.png) no-repeat 50% 50% / 100% auto; opacity:0;}
.random-drop-star2{position:absolute; top:-999rem; left:-999rem; width:14rem; height:10rem; background:url(image/img_drop_star.png) no-repeat 50% 50% / 100% auto; opacity:0;}
.yanadoo-list{position:absolute; top:0; left:0; width:100%; color:#fff;}
.yanadoo-list .list-box{padding:10rem 2rem;}
.yanadoo-list .list-box li{width:100%; padding:5rem 0 5rem calc(50% - 2rem); text-align:left; box-sizing:border-box;}
.yanadoo-list .list-box > strong{display:block; padding:5rem 0 1rem calc(50% - 2rem); font-weight:700; font-size:4.5rem; color:#fff001; text-align:left;}
.yanadoo-list .list-box li strong{position:relative; font-weight:700; font-size:3.6rem; letter-spacing:.5rem;}
.yanadoo-list .list-box li strong span{display:inline-block; padding-left:1rem; font-size:300; font-size:2.4rem; letter-spacing:0; opacity:.5;}
.yanadoo-list .list-box li strong.leader{animation:textLight 7s linear infinite;}
.yanadoo-list .list-box li strong.leader:before{content:'*'; position:absolute; top:-.25em; left:-1em; width:1em; height:1em; font-weight:100; font-size:2em; color:#fff; text-align:center; animation:motionRotate 2s reverse linear infinite; transform-origin:50% 50%;}
.yanadoo-list .list-box li strong.leader:after{content:'*'; position:absolute; top:-.25em; right:-1em; width:1em; height:1em; font-weight:100; font-size:2em; color:#fff; text-align:center; animation:motionRotate 2s linear infinite; transform-origin:50% 50%;}
.yanadoo-list .list-box li p{padding-top:2rem; font-weight:300; font-size:3rem;}
.yanadoo-col .btn-back{position:fixed; top:0; left:0; width:10rem; height:10rem; background-color:transparent; text-indent:-9999rem; transition:1s; z-index:5;}
.yanadoo-col .btn-back:after{content:''; position:absolute; top:0; right:0; bottom:0; left:0; width:2.5rem; height:2.5rem; margin:auto; border-bottom:2px solid #fff; border-left:2px solid #fff; box-sizing:border-box; transform:rotate(45deg); opacity:.5;}
.yanadoo-col .btn-back.type-black:after{border-bottom:2px solid #000; border-left:2px solid #000;}

.slogan-box{position:absolute; top:0; left:0; width:100%; height:100%; background-color:#fff; opacity:0; z-index:2;}
.slogan-box strong{position:absolute; top:0; right:0; bottom:0; left:0; width:26rem; height:26rem; margin:auto;}
.slogan-box strong .slogan-01{position:absolute; top:0; left:0; width:26rem; height:26rem; background:url(image/img_title_01.png) no-repeat 50% 50%; background-size:100%; text-indent:-9999rem; opacity:0;}
.slogan-box strong .slogan-02{position:absolute; top:0; left:0; width:26rem; height:26rem; background:url(image/img_title_02.png) no-repeat 50% 50%; background-size:100%; text-indent:-9999rem; opacity:0;}
.slogan-box strong .slogan-03{position:absolute; top:0; left:0; width:26rem; height:26rem; background:url(image/img_title_03.png) no-repeat 50% 50%; background-size:100%; text-indent:-9999rem; opacity:0;}

/* motion : logo -> slogan */
/* .motion-on strong{animation:motionAppearEnd .5s 5s 1 linear forwards;}
.motion-on .logo-ynd{position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:10rem; margin:auto; background:url(image/img_logo_154x42.png) no-repeat 50% 50% / 15.4rem auto; animation:motionAppear .5s 1 linear forwards, motionAppearEnd .5s 1.5s 1 linear forwards; opacity:0;}
.motion-on .slogan-01{animation:motionAppear .5s 2s 1 linear forwards, motionMove1 1s 3s 1 linear backwards;}
.motion-on .slogan-02{animation:motionAppear .5s 3s 1 linear forwards, motionMove2 1s 3s 1 linear backwards;}
.motion-on .slogan-03{animation:motionAppear .5s 3.5s 1 linear forwards;} */

/* motion : slogan -> logo */
.motion-on strong{animation:motionAppearEnd .5s 3s 1 linear forwards;}
.motion-on .logo-ynd{position:absolute; top:0; right:0; bottom:0; left:0; width:100%; height:10rem; margin:auto; background:url(image/img_logo_154x42.png) no-repeat 50% 50% / 15.4rem auto; animation:motionAppear .5s 3s 1 linear forwards, motionAppearEnd .5s 5s 1 linear forwards; opacity:0;}
.motion-on .slogan-01{animation:motionAppear .5s 1 linear forwards, motionMove1 1s 1s 1 linear backwards;}
.motion-on .slogan-02{animation:motionAppear .5s 1s 1 linear forwards, motionMove2 1s 1s 1 linear backwards;}
.motion-on .slogan-03{animation:motionAppear .5s 1.5s 1 linear forwards;}

#bubbleGroup{position:absolute; top:100%; left:0; width:100%; transition:.5s; z-index:3;}
#bubbleGroup button{position:absolute; top:100%; background-color:transparent; background-repeat:no-repeat; background-position:0 0; background-size:100% auto; opacity:.7;}
.bubble-item-01{right:57%; width:6rem; height:6rem; margin-top:5rem; animation:motionRotate 2s linear infinite;}
.bubble-item-02{right:80%; width:5rem; height:5rem; margin-top:13rem; animation:motionRotate 4s linear infinite;}
.bubble-item-03{right:88%; width:7rem; height:7rem; margin-top:21rem; animation:motionRotate 3s linear infinite;}
.bubble-item-04{right:65%; width:8rem; height:8rem; margin-top:14rem; animation:motionRotate 6s linear infinite;}
.bubble-item-05{right:75%; width:7rem; height:7rem; margin-top:0rem; animation:motionRotate 3.5s linear infinite;}
.bubble-item-06{right:60%; width:5rem; height:5rem; margin-top:26rem; animation:motionRotate 7s linear infinite;}
#bubbleGroup button.active:before{content:''; position:absolute; top:-1px; right:0; bottom:0; left:-1px; width:100%; height:100%; margin:auto; border:1px solid #fff; border-radius:100%; animation:bubbleEffect01 1s .2s forwards; z-index:-1;}
#bubbleGroup button.active:after{content:''; position:absolute; top:-1px; right:0; bottom:0; left:-1px; width:100%; height:100%; margin:auto; border:1px solid #fff; border-radius:100%; animation:bubbleEffect02 1s forwards; z-index:-1;}

@keyframes bubbleEffect01 {
    0%{transform:scale(1,1); opacity:0;}
    20%{opacity:1;}
    100%{transform:scale(1.5,1.5); opacity:0;}
}
@keyframes bubbleEffect02 {
    0%{transform:scale(1,1); opacity:0;}
    20%{opacity:1;}
    100%{transform:scale(1.7,1.7); opacity:0;}
}
@keyframes textLight {
    0%{color:rgba(255,255,255,1);}
    20%{color:rgb(255, 160, 72);}
    40%{color:rgba(160,73,255,1);}
    60%{color:rgba(41,186,254,1);}
    80%{color:rgba(254,243,11,1);}
    100%{color:rgba(255,255,255,1);}
}
@keyframes motionRotate {
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@keyframes motionAppear{
  0%{transform:scale(1.5,1.5); filter:blur(1rem); -webkit-filter:blur(1rem); opacity:0;}
  40%{transform:scale(1.2,1.2); filter:blur(1rem); -webkit-filter:blur(1rem); opacity:1;}
  100%{transform:scale(1,1); filter:blur(0); -webkit-filter:blur(0); opacity:1;}
}
@keyframes motionMove1{
  0%{margin:5rem 0 0 5rem;}
  10%{margin:5rem 0 0 3.5rem;}
  50%{margin:5rem 0 0 0;}
  60%{margin:5rem 0 0 0;}
  70%{margin:3.5rem 0 0 0;}
  100%{margin:0;}
}
@keyframes motionMove2{
  0%{margin:5rem 0 0 0;}
  50%{margin:5rem 0 0 0;}
  60%{margin:5rem 0 0 0;}
  70%{margin:3.5rem 0 0 0;}
  100%{margin:0;}
}
@keyframes motionAppearEnd{
  0%{transform:scale(1,1); filter:blur(0); -webkit-filter:blur(0); opacity:1;}
  40%{transform:scale(1.2,1.2); filter:blur(1rem); -webkit-filter:blur(1rem); opacity:1;}
  100%{transform:scale(1.5,1.5); filter:blur(1rem); -webkit-filter:blur(1rem); opacity:0;}
}

@media screen and (min-width: 720px) {
  .yanadoo-col:before{background-size:50% auto;}
  .yanadoo-col:after{background-size:50% auto;}
}